@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
 * {
  margin: 0 auto;
  font-family: "Quicksand";
  background-color: rgb(21, 25, 88);
  ;
 
  

}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width:100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  background-color: rgb(21, 25, 88);
  
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.home{
  margin-left: 450px;
  text-decoration: none;
  padding: 20px;
  
  
}
.blog-preview{
  margin: 20px;
  padding: 10px;
  border: #f1356d;
  border-style: solid;
  

}
.blog-preview:hover {
  box-shadow: rgb(255, 49, 49);
  background-color: rgb(19, 23, 82);
  
  
}
.blog-preview h2{
  color: #f1356d;
}
button{
  margin-top: 10px;
  margin-right: 19px;
  padding: 10px;
  background-color: #f1356d;

}

.head{
  text-decoration-color: #f1356d;
  margin-left: 10px;
  text-decoration: solid;
  text-decoration: #f1356d;
  color: #f1356d;
}
.loading{
  color: #f1356d;
  text-align: center;
  margin-top: 10%;
}
.create{
  color: #f1356d;
  margin-left:500px;
}
.blog-preview a{
  text-decoration:none;

}
.custom-shape-divider-bottom-1647256045 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1647256045 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transition: height 3s;
  
}

.custom-shape-divider-bottom-1647256045 .shape-fill {
  fill: #F1356D;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: #f1356d
 
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;

}